* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #C7F1FA;
  font-family: Apple Chancery, cursive;
}

footer{
  background: rgb(63, 97, 251);
  background: radial-gradient(circle, rgba(63, 97, 251, 0.5004595588235294) 0%, rgba(199, 241, 250, 0.7497592787114846) 100%);
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main img {
  border-radius: 30px;
}


/*navbar en header*/

a {
  color:#2b3990;
}

a img{
  border-radius: 0px;
}

.bloem {
  height: 10vh;
}

header {
  height: 20vh;
  display: flex; 
  flex-direction: row; 
  gap: 70.5px;
  background: rgb(63, 97, 251);
  background: radial-gradient(circle, rgba(63, 97, 251, 0.5004595588235294) 0%, rgba(199, 241, 250, 0.7497592787114846) 100%);
}


header img {  /*logo instellingen*/
  height: 14vh;
  margin-top: 2.5vh;
  text-align: center;
}

nav img {
  height: 7vh;
  width: 18vw;
  margin-top: 5vh;
}

.vlag {
  height: 8vh;
  margin-top: 5vh;
}

.ul {
  display: flex;
  gap: 100px;
}



/*index*/


.store {
  height: 50vh;
  width: 50vw;
  display:  block; 
  margin: auto;
}




/*inspiratie*/



.model {
  height: 50vh;
  display: flex;
  flex-direction: column;
  display:block; 
  margin: auto;
}


/*duurzaamheid*/

.plant{
  height: 30vh;
  width: 20vh;
  float: right;

}

.earth{
  height: 20vh;
  width: 20vh;
}

/*waar*/

.map {
  height: 60vh;
  width: 55vw;
  display:block; 
  margin: auto;
  
}



/*contact*/

.achtergrond {
  background-image: url("img/foto1.jpg");
  background-size: 100%;
    
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

}


.logo {
  height: 15vh;
}

